@import url("button.css");
body{
    background: #e2f0f8;
    padding: 15px;
    margin: 5px;
    font-family:'Playfair', sans-serif ;
    color: #82d1f6;
    font-size: 25px;
    line-height: 40px;
    
    
}


  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.text {
   
    font-size: 24px;
    color: #82d1f6;
    font-weight: bold;
    text-align: left;
    margin: 8px;
}

img {
    border: 20px solid #82d1f6;
    width: 400px;
    margin: 10px;
}
.info {
    width: 63%;
    /* height: 500px; */
    border:10px solid #98cee7;
    padding: 1px  1px 95px 90px;
    margin:15px 30px 5px 90px;
    position: relative;
    /* opacity: 1; */
 } 
 .info::before{
     content: "";
     position: absolute;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     background-size: contain;
     background-image: url('../img/alina1.jpg');
     opacity: 0.2; 
 }